body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1, h3 {
  margin-bottom: 0;
}

#content{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #fb5;
  background-color: #334;
}

#header{
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  color: #fb5;
  background-color: #900;
}

#room {
  width: 780px;
  height: 1.5em;
  overflow: auto;
  color: #223;
  background-color: #DDD;
  border-color: #667;
  margin-right: 10px;
  font-weight: bold;
}

#messages {
  width: 780px;
  height: 300px;
  overflow: auto;
  color: #223;
  background-color: #DDD;
  border-color: #667;
  margin-bottom: 1em;
  margin-right: 10px;
}

#show-room-list {
  float: right;
  width: 160px;
  height: 300px;
  overflow: auto;
}

#show-room-list div {
  border-bottom: 1px solid #eee;
  text-align: center;
  color: #00F;
}

#show-room-list div:hover {
  background-color: #ddd;
}

#room-list {
  color: 0000FF;
}

#send-message {
  width: 700px;
  margin-bottom: 1em;
  margin-right: 1em;
}

#command-help {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#help {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #334;
  border-left: 1px solid #334;
  border-right: 1px solid #334;
}

#help h3 {
  margin-top: 0;
}